        //COLOR WEBSITE

$color-black: #00000033; // button hover boxshadow | link hover boxshadow | cv boxshadow
$color-black-light: #3C3C3C; // main text | nav link | aboutme image border
$color-blue-light-1: #DCE4EE; //background body
$color-blue-light-2: #777f94; //background button | link hover border | link hover color
$color-blue-light-3: #3a3e5844; //background button
$color-brown-dark :#432A16; //cv body color | cv link
$color-brown-dark-hr: #432a162d; //cv hr
$color-brown-light-1: #cfba9e; //background body
$color-brown-light-2: #dec8aad0; //background body | button hover background portfolio
$color-brown-light-3: #D9D4CE; //cv aside background
$color-brown-light-4: #cec9c49f; //cv header background
$color-grey: #585858; //nav border | card text
$color-grey-1: #5a5a5a; //main boxshadow | portfolio card boxshadow
$color-grey-2: #57534e53; //aboutme header background
$color-grey-3: #575757; //cv button boxshadow
$color-grey-4: #666666; //cv button color
$color-grey-light: #918c83; //boxshadow button | link boxshadow
$color-grey-light-2: #cccccc; //cv body background
$color-grey-light-3: lightgray; //cv button background
$color-grey-light-hr: #C2C2C2; // Hr 
$color-white: #FFFFFF; // main boxshadow | portfolio card boxshadow | portfolio card background | cv box shadow and button hover background
$color-white-light-1: #f4f4f5; //background main | button color | portfolio card link
$color-white-light-2: #fcf6f0; //button boxshadow | link boxshadow