            // GENERAL CSS FOR ALL PAGES 
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    // border: 1px solid red; //helps to see all the boxes correctly in the page
}
$color-black: #191919;
$color-black-light: #3C3C3C;
$color-yellow:  #FFCC00;
$color-grey-light: #C2C2C2;
$color-grey: #585858;
$color-white: #FFFFFF;
$color-dark-yellow:  #FF9900;
ul{         //Suppression des points de liste
    list-style: none;
}
a{          //Suppression des lignes de lien 
    text-decoration: none;
}  
html{       //alloud the scroll animation
    scroll-behavior: smooth;
}         
body{       //body background
    background-color: $color-grey; //for browser who don't take the gradient effect
    background: linear-gradient(to top right, #cfba9e 0%, #DCE4EE 100%); // pour avoir un fond de qui se déteint
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
}     
.mainSection{ // Button principale sur toutes les pages
    color: $color-black-light;
    background-color: #f4f4f5; //#f4f4f5
    border-radius: 10px;
    opacity: 0.9;
    box-shadow:  2px 2px 3px #5a5a5a, -2px -2px 3px #ffffff;
    overflow: hidden;
}       
img{        //taille générrale pour toutes les images 
    width: 100%;
}     
.button{    // Button principale sur toutes les pages
    font-weight: bold;
    font-size: 25px;
    color: #f4f4f5 ; //#f4f4f5
    padding: 15px 30px;
    transition: 0.4s;
    display: inline-block; // fait marcher le tranform dans :hover , mais pq ??? pcq button et autre fonction sont en iline par default et donc ça empêche le transform.
    border-radius: 20px;
    background: linear-gradient(177.9deg, #3a3e5844 3.6%, #777f94 105.8%);
    box-shadow:  2px 2px 3px #918c83,
     -2px -2px 3px #fcf6f0; //add inset for "more 3D"
}
.button:hover{
    background-color: #dec8aad0;
    box-shadow: 0 0 5px 2.5px #00000033;
    transform: translate(-5px, -5px);
}      
nav{        // social media image en bas 
    ul{
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
        gap: 20px;
        a{ // social media link 
            font-size: 25px;
            border: solid 1px $color-grey;
            color: $color-black-light;
            padding: 16px 0;
            display: inline-block;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            transition: 0.4s;
            text-align: center;
            box-shadow: 2px 2px 3px #918c83,
            -2px -2px 3px #fcf6f0; //add inset for other effect "more 3D"    
        }
        a:hover{ 
            border: solid 1px #777f94;
            color: #777f94;
            box-shadow: 0 0 5px 3px #00000033;
            transform: translate(-5px,-5px);
        }
    }
}
#goBack,  #goTop{
    display: none;
}
                            //MEDIA 
@media screen and (min-width:720px) {       //TABLET
    .mainSection{
        margin: 100px auto 10px auto;
        max-width: 650px;
    }
    #goBack,  #goTop{
        padding: 8px 15px;
        box-shadow: none;
        position: fixed;
        right: 15px;
        z-index: 100;   
        display: inline-block; 
    }
    #goBack{
        top: 15px;
    }
    #goTop{
        opacity: 0;
        bottom: 15px;
        transition-duration: 1s;
        transform : scale(0);

    }
    #goTop.visible{
        opacity: 1;
        transform : scale(1);
    }
    #goTop:hover, #goBack:hover{
        transform: none;
    }
}    
@media screen and (min-width:1080px) {      //DESKTOP

}   
                        //KEYFRAMES
                        
.reveal{
    position: relative;
    opacity: 0;
}
.reveal.active{
    opacity: 1;
}

.active.animationImage{           //annimation Image
    animation: animationImg 1.5s ease-in;
}
.active.animationTitle{           //annimation Title
    animation: animationTitle 1.5s ease-in;
}
.active.animationText{           //annimation Text
    animation: animationText  1.5s ease-in;
}
.active.animationButton{          //annimation Button
    animation: animationButton 1.5s ease-in;
}

.active.animationGitHub{           //annimation Insta
    animation: animationGitHub 1s ease-out 0s backwards;
}
.active.animationLink{           //annimation Linke
    animation: animationLink 1s ease-out 0.5s backwards;
}
.active.animationMail{          //annimation Mail
    animation: animationMail 1s ease-out 1s backwards;

}
.active.animationHr{           //annimation Image
    animation: animationHr 1.5s ease-in;
}

@keyframes animationImg{           //annimation Image 
    from{
        transform:scale(1.07, 1.07);
        opacity: 0;
    }
    to{
        transform: scale(1, 1);
        opacity: 1;
    }
} 
@keyframes animationTitle{           //annimation Title  
    from{
        transform: translateY(-10px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}                     
@keyframes animationText{           //annimation Text
    from{
        transform: translateX(-20px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }

}       
@keyframes animationButton{           //annimation Button
    from{
        transform: translateY(15px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}                     
@keyframes animationGitHub{           //annimation Insta
    from{
        transform: translateY(15px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}   
@keyframes animationLink{           //annimation Linke
    from{
        transform: translateY(15px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}   
@keyframes animationMail{           //annimation Mail
    from{
        transform: translateY(15px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
} 
@keyframes animationHr{           //annimation Hr 
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;   
    }
}  
