* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #585858;
  background: linear-gradient(to top right, #191919 0%, #FFFFFF 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Montserrat", sans-serif;
}

.mainSection {
  color: #3C3C3C;
  background-color: #FFFFFF;
  border-radius: 10px;
  opacity: 0.9;
  box-shadow: 6px 6px 12px #5a5a5a, -6px -6px 12px #ffffff;
  overflow: hidden;
}

img {
  width: 100%;
}

.button {
  font-weight: bold;
  font-size: 25px;
  color: #585858;
  padding: 15px 30px;
  transition: 0.4s;
  display: inline-block;
  border-radius: 50px;
  background-color: #dae2f1;
  box-shadow: 6px 6px 8px #838891, -6px -6px 8px #c5e0ff;
}

.button:hover {
  background-color: #edf5ff;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  transform: translate(-5px, -5px);
}

nav ul {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  gap: 20px;
}
nav ul a {
  font-size: 25px;
  border: solid 1px #585858;
  color: #3C3C3C;
  padding: 16px 0;
  display: inline-block;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  transition: 0.4s;
  text-align: center;
  box-shadow: 5px 5px 10px #838891, -5px -5px 10px #edf5ff;
}
nav ul a:hover {
  border: solid 1px #c1deff;
  color: #c1deff;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  transform: translate(-5px, -5px);
}

#goBack, #goTop {
  display: none;
}

@media screen and (min-width: 720px) {
  .mainSection {
    margin: 100px auto 10px auto;
    max-width: 650px;
  }
  #goBack, #goTop {
    padding: 8px 15px;
    box-shadow: none;
    position: fixed;
    right: 15px;
    z-index: 100;
    display: inline-block;
  }
  #goBack {
    top: 15px;
  }
  #goTop {
    opacity: 0;
    bottom: 15px;
    transition-duration: 1s;
    transform: scale(0);
  }
  #goTop.visible {
    opacity: 1;
    transform: scale(1);
  }
  #goTop:hover, #goBack:hover {
    transform: none;
  }
}
.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}

.active.animationImage {
  animation: animationImg 1.5s ease-in;
}

.active.animationTitle {
  animation: animationTitle 1.5s ease-in;
}

.active.animationText {
  animation: animationText 1.5s ease-in;
}

.active.animationButton {
  animation: animationButton 1.5s ease-in;
}

.active.animationGitHub {
  animation: animationGitHub 1s ease-out 0s backwards;
}

.active.animationLink {
  animation: animationLink 1s ease-out 0.5s backwards;
}

.active.animationMail {
  animation: animationMail 1s ease-out 1s backwards;
}

.active.animationHr {
  animation: animationHr 1.5s ease-in;
}

@keyframes animationImg {
  from {
    transform: scale(1.07, 1.07);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}
@keyframes animationTitle {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes animationText {
  from {
    transform: translateX(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes animationButton {
  from {
    transform: translateY(15px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes animationGitHub {
  from {
    transform: translateY(15px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes animationLink {
  from {
    transform: translateY(15px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes animationMail {
  from {
    transform: translateY(15px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes animationHr {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */