header {
  background-color: #f4f4f5;
  text-align: center;
}
header h1 {
  margin-top: 40px;
  font-size: 40px;
}
header p {
  padding: 25px 30px;
}
header #buttonList {
  padding: 0;
}
header #buttonList button {
  font-size: 14px;
  color: #f4f4f5;
  background: linear-gradient(177.9deg, rgba(58, 62, 88, 0.2666666667) 3.6%, #777f94 105.8%);
  padding: 14px 30px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}
header #buttonList button.selected {
  background-color: rgba(222, 200, 170, 0.8156862745);
}
header #buttonList button:hover {
  background-color: rgba(222, 200, 170, 0.8156862745);
}

main {
  margin-bottom: 150px;
}

.card {
  height: 420px;
  width: 370px;
  margin: 50px auto;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  text-align: center;
  box-shadow: 2px 2px 3px #5a5a5a, -2px -2px 3px #ffffff;
  background-color: white;
}
.card .card_header {
  background-size: cover;
  background-position: center;
  height: 70%;
  transition-duration: 0.4s;
  filter: brightness(1);
}
.card #article1 {
  background-image: url(../../images/portfolio/portfolio_1.png);
}
.card #art1 {
  bottom: 42px;
}
.card #article2 {
  background-image: url(../../images/portfolio/portfolio_2.png);
}
.card #art2 {
  bottom: 59px;
}
.card #article3 {
  background-image: url(../../images/portfolio/portfolio_3.png);
}
.card #art3 {
  bottom: 59px;
}
.card #article4 {
  background-image: url(../../images/portfolio/portfolio_4.png);
}
.card #art4 {
  bottom: 34px;
}
.card #article5 {
  background-image: url(../../images/portfolio/portfolio_5.png);
}
.card #art5 {
  bottom: 59px;
}
.card #article6 {
  background-image: url(../../images/portfolio/portfolio_6.png);
}
.card #art6 {
  bottom: 18px;
}
.card .card_content {
  background-color: #fff;
  position: absolute;
  transform: translateY(55%);
  transition-duration: 0.4s;
  padding-bottom: 50px;
}
.card .card_content h2 {
  font-size: 2rem;
  margin: 15px 0px;
}
.card .card_content p {
  font-size: 1rem;
  color: grey;
  letter-spacing: 2px;
  font-family: Arial, Helvetica;
}
.card .card_footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  padding: 25px;
}
.card .card_footer a {
  color: #f4f4f5;
  padding: 7px 15px;
  border-radius: 50px;
  background: linear-gradient(177.9deg, rgba(58, 62, 88, 0.2666666667) 3.6%, #777f94 105.8%);
  box-shadow: 2px 2px 3px #918c83, -2px -2px 3px #fcf6f0;
}
.card .card_footer a:hover {
  background-color: rgba(222, 200, 170, 0.8156862745);
  box-shadow: 0 0 5px 2.5px rgba(0, 0, 0, 0.2);
}

.card:hover .card_header, .card:active .card_header {
  filter: brightness(0.5);
}
.card:hover .card_content, .card:active .card_content {
  transform: translateY(0%);
}

footer {
  background-color: #FFFFFF;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0px -10px 50px 20px #FFFFFF;
}
footer nav {
  padding-top: 25px;
}

@media screen and (min-width: 720px) {
  header p {
    padding: 25px 60px;
  }
  .card {
    height: 520px;
    width: 470px;
  }
  footer {
    background-color: transparent;
    position: initial;
    box-shadow: none;
  }
  footer nav {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  footer nav a {
    background-color: #FFFFFF;
  }
  main {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1080px) {
  .mainSection {
    max-width: 1400px;
  }
  .mainSection header p {
    font-size: 15px;
    padding: 25px 120px;
  }
  .mainSection main {
    display: flex;
    flex-wrap: wrap;
  }
  .mainSection main .card {
    height: 420px;
    width: 370px;
  }
  .mainSection main .card .card_content {
    bottom: 50px;
  }
}/*# sourceMappingURL=protfolio.css.map */