            //MOBILE            
$color-black: #191919;
$color-black-light: #3C3C3C;
$color-yellow:  #FFCC00;
$color-grey-light: #C2C2C2;
$color-grey: #585858;
$color-white: #FFFFFF;
$color-dark-yellow:  #FF9900;

header{     //HEADER
    background-color: #f4f4f5;
    text-align: center;
    h1{
        margin-top: 40px;
        font-size: 40px;
    }
    p{
        padding: 25px 10px;
    }
    #buttonList{
        padding: 0;
        button{
            font-size: 14px;
            color: #f4f4f5;
            background-color: #cfba9e;
            padding: 14px 30px;
            border-radius: 15px;
            border: none;
            cursor: pointer;
            &.selected{
                background-color: #d5943f;
            }
            &:hover{
                background-color: #d5943f;
            }
        }
    }
}
main{
    margin-bottom: 150px;
}
.card{
    height: 420px;
    width: 370px;
    margin: 50px auto;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    text-align: center;
    box-shadow:  2px 2px 3px #5a5a5a, -2px -2px 3px #ffffff;
    background-color: white;
    .card_header{
        background-size: cover;
        background-position: center;
        height: 70%;
        transition-duration: 0.4s;
        filter: brightness(1);
    }
    #article1{
        background-image: url(../../images/portfolio/portfolio_1.png);
    }
    #art1{
        bottom: 42px;
    }
    #article2{
        background-image: url(../../images/portfolio/portfolio_2.png);
    }
    #art2{
        bottom: 59px;
    }
    #article3{
        background-image: url(../../images/portfolio/portfolio_3.png);
    }
    #art3{
        bottom: 59px;
    }
    #article4{
        background-image: url(../../images/portfolio/portfolio_4.png);
    }
    #art4{
        bottom: 34px;
    }
    #article5{
        background-image: url(../../images/portfolio/portfolio_5.png);
    }
    #art5{
        bottom: 59px;
    }
    #article6{
        background-image: url(../../images/portfolio/portfolio_6.png);
    }
    #art6{
        bottom: 18px;
    }
    .card_content{
        background-color: #fff;
        position: absolute;
        transform: translateY(55%);
        transition-duration: 0.4s;
        padding-bottom: 50px;
        h2{
            font-size: 2rem;
            margin: 15px 0px;
        }
        h3{
            color: #d5943f;
            margin: 10px 0px;
        }
        p{
            font-size: 1rem;
            color: grey;
            letter-spacing: 2px;
            font-family: Arial, Helvetica;
        }
    }
    .card_footer{
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: #fff;
        padding: 25px;
        a{
            color: #f4f4f5;
            padding: 7px 15px;
            border-radius: 50px;
            background-color: #cfba9e;
        }
        a:hover{
            background-color: #d5943f;
        }    
    }
}
.card:hover{
    .card_header {
        filter: brightness(0.5);
    }
    .card_content{
        transform: translateY(0%);
    }
}

footer{     //FOOTER     
    background-color: $color-white;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -10px 50px 20px $color-white;  
    nav{
        padding-top: 25px;
    }
}
                            //MEDIA 
@media screen and (min-width:720px) {       //TABLET
    .card{
        height: 520px;
        width: 470px;
    }
    footer{
        background-color: transparent;
        position: initial;
        box-shadow: none;
        nav{
            margin-top: 50px;
            margin-bottom: 50px;
            a{
                background-color: $color-white;
            }
        }
    }
    main{
        margin-bottom: 0;
    }
}
@media screen and (min-width:1080px) {     //DESKTOP   
    .mainSection{
        max-width: 1400px;
        main{
            display: flex;
            flex-wrap: wrap;
            .card{
                height: 420px;
                width: 370px;
                .card_content{
                    bottom: 50px;
                }
            }
        }
    }
}
/* Styles pour les dispositifs tactiles sur tablette et mobile */
@media (hover: none) and (max-width: 1080px) {
    .card:hover {
        .card_header {
            filter: brightness(0.5);
        }
        .card_content {
            transform: translateY(0%);
        }
    }
}