
$color-black: #191919;
$color-black-light: #3C3C3C;
$color-yellow:  #FFCC00;
$color-grey-light: #C2C2C2;
$color-grey: #585858;
$color-white: #FFFFFF;
$color-dark-yellow:  #ff9900;

        //MOBILE

// Center of the cards
html{ //permet de bien étendre le background sur tout l'écran 
    height: 100vh;
}

.mainSection{
    margin: 30px 30px 0px 30px;
    text-align: center;

            
    h1{
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 50px;
    }
    p{
        padding-bottom: 20px;
        font-size: 25px;
    }
    hr{
        margin: 20px 50px;
        border: 1px solid $color-grey-light;
    } 
    img{
        border-radius: 10px 10px 0px 0px;
    }
}
                          //MEDIA

            //TABLET
@media screen and (min-width:720px) {
    .mainSection{
        margin: 100px auto 180px auto;
        max-width: 600px;
        h1{
            padding-top: 30px;
            padding-bottom: 30px;
        }
        p{
            padding-bottom: 40px;
        }
        hr{
            margin: 30px 50px;
        } 
    }
}
            //DESKTOP
@media screen and (min-width:1080px) {
    .mainSection{
        margin: 40px auto;
        max-width: 400px;
    }
}   