            //MOBILE            
        //COLOR
@import '../color.scss'; 
            //HEADER
header, section{
    overflow: hidden;
}
.mainSection{   //MAIN
    overflow: auto; 
    position: relative;
    margin-bottom: 100px;
    text-align: center;
    article{
        padding:60px 20px;
        h1,h2,p{
            text-align: left;
        }
        h1{
            font-size: 40px;
            
        }
        h2{
            font-size: 30px;
        }
        p{
            padding-top: 30px;
            padding-bottom: 30px;
            font-size: 20px;
        }
        a{
            width: auto;
            margin: 0 auto;
            margin-top: 20px;
        }
        .cvEN{
            padding: 15px 40px;
        }
    }
    hr{
        border: 2px solid $color-grey-light-hr;
        margin: 40px 30%;
    }
}
footer{         //FOOTER
    background-color: $color-white;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -10px 50px 20px $color-white;  
    nav{
        padding-top: 25px;
    }
}
                            //MEDIA         
@media screen and (min-width:720px) {       //TABLET
    header, main section{
        display: flex;
    }
    .mainSection{
        height: auto;
        .flexRevers{
            flex-direction: row-reverse;
        }
        .imgDiv{
            border-radius: 10px;
            width: 40%;
            overflow: hidden;
            margin: 60px 30px 26% 30px;
            img{
                height: 100%;
            }
        }
        .calibration{
            margin-bottom: 38%;
        }
        article{
            width: 60%;
            padding: 60px 20px 60px 20px;
            text-align: center;
            h1, h2, p{
                text-align: left;
            }
            a{
                width: auto;
            }
        } 
    }
    footer{
        background-color: transparent;
        position: initial;
        box-shadow: none;
        nav{
            margin-top: 50px;
            margin-bottom: 50px;
            a{
                background-color: $color-white;
            }
        }
    }
}
 @media screen and (min-width:1080px) {     //DESKTOP   
    .mainSection{
        max-width: 1080px;
        .imgDiv{
            margin: 120px 50px 11% 50px;
        }
        article{
            width: 50%;
            padding: 120px 50px;
        }
     

    }
}