            //MOBILE
.mainSection{
    article{
            padding: 60px 0px 60px 30px;
            h1{
                font-size: 45px;
            }
            h2{
                font-size: 30px;
            }
            h1,H2{
                padding-right: 20%;
            }

        p{
            padding: 30px 10px;
        }
    }
}
footer{
    text-align: center;
}

             //TABLET
@media screen and (min-width:720px) {
    header,footer, main section{
        display: flex;
    } 
}
            //DESKTOP
 @media screen and (min-width:1080px) {
  
}