* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #cccccc;
  font-family: "Roboto", sans-serif;
  color: #432A16;
}

page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5019607843);
  display: flex;
}

page[size=A4] {
  width: 21cm;
  height: 29.7cm;
}

button {
  display: block;
  border: none;
  text-align: center;
  margin: 30px auto;
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
  color: #666666;
  padding: 15px 30px;
  transition: 0.4s;
  border-radius: 15px;
  background-color: lightgray;
  box-shadow: inset 2px 2px 3px #575757, inset -2px -2px 3px #ffffff;
  cursor: pointer;
}

button:hover {
  background-color: white;
  box-shadow: inset 2px 2px 3px white, inset -2px -2px 3px #575757;
}

aside {
  width: 35%;
  height: 100%;
  background-color: #D9D4CE;
  display: flex;
  flex-direction: column;
  align-items: center;
}
aside #profilImg {
  overflow: hidden;
  height: 25%;
}
aside #profilImg img {
  max-width: 100%;
  height: auto;
}
aside #asideSection-1 {
  padding: 0px 0px 15px 15px;
}
aside #asideSection-1 h2 {
  font-size: 18px;
  margin-top: 25px;
}
aside #asideSection-1 hr {
  border: 1px solid rgba(67, 42, 22, 0.1764705882);
  margin-top: 10px;
  margin-bottom: 15px;
}
aside #asideSection-1 div {
  padding-left: 15px;
}
aside #asideSection-1 div.langue {
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
}
aside #asideSection-1 div h3 {
  font-size: 12px;
}
aside #asideSection-1 div a {
  font-size: 12px;
  text-decoration: none;
  color: #432A16;
}
aside #asideSection-1 div p {
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 10px;
}

main {
  width: 65%;
  height: 100%;
}
main header {
  background-color: rgba(206, 201, 196, 0.6235294118);
  padding: 40px;
}
main #mainSection {
  padding: 30px;
}
main #mainSection article {
  margin-bottom: 15px;
}
main #mainSection article h2 {
  font-size: 18px;
}
main #mainSection article hr {
  margin: 15px 0px;
  border: 1px solid rgba(67, 42, 22, 0.1764705882);
}
main #mainSection article p {
  font-size: 12px;
}
main #mainSection article div {
  display: flex;
}
main #mainSection article div .date {
  width: 120px;
}
main #mainSection article div article {
  width: 100%;
}
main #mainSection article div article h4 {
  font-size: 12px;
  padding-bottom: 5px;
}
main #mainSection article .skillsPart {
  display: flex;
  flex-wrap: wrap;
}
main #mainSection article .skillsPart article {
  margin: 0;
  flex-basis: 50%;
  padding: 5px;
}
main #mainSection .sillSection h3 {
  font-size: 18px;
  padding-top: 10px;
}
main #mainSection .sillSection h3 span {
  font-size: 12px;
}
main #mainSection .sillSection .skillArticle {
  margin-bottom: 0;
  padding: 10px 0 10px 20px;
}
main #mainSection .sillSection .skillArticle h4 {
  font-size: 14px;
}
main #mainSection .sillSection .skillDiv {
  gap: 20px;
  margin-bottom: 5px;
}

@media print {
  button {
    display: none;
  }
}/*# sourceMappingURL=cv.css.map */