*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
    //COLOR
@import '../color.scss';
    //Pour mettre en A4
body {
    background: $color-grey-light-2; 
    font-family: 'Roboto', sans-serif;
    color: $color-brown-dark;
}
page {
  background: $color-white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm $color-black;
  display: flex;
}
page[size="A4"] {  
  width: 21cm;
  height: 29.7cm; 
}
button{
    display: block;
    border: none;
    text-align: center;
    margin: 30px  auto;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    color: $color-grey-4;
    padding: 15px 30px;
    transition: 0.4s;
    border-radius: 15px;
    background-color: $color-grey-light-3;
    box-shadow: inset -2px -2px 5px $color-grey-3,
        inset 2px 2px 5px $color-white;
    cursor: pointer;
}
button:hover{
    background-color: $color-white;
    box-shadow: inset 2px 2px 5px $color-white,
       inset -2px -2px 5px $color-grey-3;
}
#ps{
    text-align: center;
    margin: 30px  auto;
    font-size: 12px;
}
aside{              //LEFT
    width: 35%;

    background-color: $color-brown-light-3;
    display: flex;
    flex-direction: column;
    // align-items: center;
    #profilImg{
        overflow: hidden;
        height: 25%;
         img {
            max-width: 100%;
            height: auto;
        }
    }
    #asideSection-1{
        padding:  0px 40px 0px 40px;
        #qr_code{
            width: 27%;
        }
        h2{
            font-size: 18px;
            margin-top: 25px;
        }
        hr{
            border: 1px solid $color-brown-dark-hr;
            background-color: $color-brown-dark-hr;                  
            margin-top: 10px;
            margin-bottom: 15px;
        }
        div{
            padding-left: 15px;
            &.langue{
                padding-top: 0px;
                padding-right: 30px;
                display: flex;
                justify-content: space-between;
            }
            .interests{
                padding-bottom: 5px;
            }
            h3{
                padding-top: 5px;
                font-size: 12px;
            }
            a{
                font-size: 12px; 
                text-decoration: none;
                color: $color-brown-dark ;
            }
            p{
                font-size: 12px;
                padding-top: 5px;
                padding-bottom:10px ;
            }
        }
    }
}
main{               //Right
    width: 65%;
    height: 100%;
    header{
        background-color: $color-brown-light-4;
        padding: 30px 40px;
    }
    #mainSection{
        padding: 20px 30px;
        article{
            margin-bottom: 8px;
            h2{
                font-size: 18px;
            }
            hr{
                margin: 15px 0px;
                border: 1px solid $color-brown-dark-hr;
                background-color: $color-brown-dark-hr; 
            }
            p{
                font-size: 12px;
            }
            div{
                display: flex;

                .date{
                    width: 120px;
                }
                article{
                    width: 100%;
                    h4{
                        font-size: 12px;
                        padding-bottom: 5px;
                    }
                }
                #certif{
                    padding-left: 17px;
                }

            }
            .skillsPart{
                display: flex;
                flex-wrap: wrap;
                article{
                    margin: 0;
                    flex-basis: 50%;
                    padding: 5px; 
                }
            }
        }
        #skillsTittle{
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .skillSection{
            display: flex;
            .skill{
                width: 50%;
                padding-left: 40px;
                ul{
                    list-style: disc;
                    li{
                        margin-bottom: 5px;
                        font-size: 20px;
                        h3{
                            font-size: 13px;
                        }
                    } 
                }
            }          
        } 
        #java8Oja{
            width: 16%;
        }
        #hardSkills{
            border-right: 2px solid $color-brown-dark-hr; 
        }
    }
}

@media print{
    button, #ps{
        display: none;
     }
}